*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #333;
    transition: 0.3s;
}
body.dark {
    background-color: #121212;
    color: #f4f4f4;
}
header {
    position: sticky;
    top: 0;
    background : #111;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header h1 {
    color: chartreuse;
}
nav a {
    color: white;
    margin:15px;
    text-decoration: none;
    font-weight: 500;
}
nav a:hover {
    color: #00e0ff;
}
.link1, .link2 {

    background : linear-gradient(135deg, rgb(68, 209, 68) , skyblue ,red);
    color: white;
    padding: 5px 10px;
    display: flex;
    text-decoration: none;
    font-weight: 500;
    border-radius: 50px;
    transition: 0.3s ease;
    
}
.link1:hover, .link2:hover {
    background: #000;
    color: white;
    transform: scale(1.05);
}
.toggle-btn {
    padding: 5px 10px;
    background: #bee60d;
    border: none;
    border-radius: 50px;
    font-weight: 600;
}
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, rgb(68, 209, 68) , skyblue);
    color: white;
    animation: fadeOut 1.5s ease;
}
.hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.hero h2 {
    font-size: 48px;
    margin-top: 20px;
    margin: 5px;
    transition: 0.3s ease;
}
.hero h1:hover {
    color: #00e0ff;
    transform: scaleX(1.08);
}
.hero button {
    margin-top: 25px;
    display: inline-block;
    padding: 12px 28px;
    background: rgb(174, 235, 6);
    color: #080505;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s ease;
}
.hero button:hover {
    background: #000;
    color: white;
    transform: scale(1.05);
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
    max-width: 600px;
}
@keyframes fadeOut {
    from {opacity: 0; transform: translateY(40px);}
    to {opacity: 1; transform: translateY(0);}
}
.resume-btn {
    margin-top: 25px;
    display: inline-block;
    padding: 12px 28px;
    background: white;
    color: #0077ff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s ease;
}

.resume-btn:hover {
    background: #000;
    color: white;
    transform: scale(1.05);
}
section {
    padding: 40px 20px
}
h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}
.about {
    text-align: center;
    max-width: 800px;
    margin: auto;
}
.skills {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    
}
.skill-box {
    background: floralwhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}
body.dark .skill-box {
    background: #1e1e1e;
}
.skill-box:hover {
    transform: translateY(-10px);
}
.hobbies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.hobbies img {
    width: 100%;
    border-radius: 12px;
    transition: 0.4s;
    cursor: pointer;
}
.hobbies img:hover {
    transform: scale(1.08);
}
.contact {
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #111;
    color: white;
}
html {
    scroll-behavior : smooth;
}
